<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <a :href="link" target="_blank">
                    <img :src="image">
                </a>
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory > 0 && inventory <= 10">Almost sold out!</p>
                <p v-else>Out of Stock</p>
                <span v-if="onSale">On Sale!</span>
            </div>
        </div>
    </div>

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="main.js"></script>
</body>

</html>